<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [150, 150]
  Dashing.numColumns = 5
  Dashing.cycleDashboards({timeInSeconds: 20, stagger: true, fastTransition: true, page: 1});
});
</script>

<% content_for :title do %>Dashpi dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Dashpi" data-text="Hej!"></div>
    </li>
    
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="speedtest-ip" data-view="Text" data-title="What's my IP?"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="speedtest-ping" data-view="Number" data-title="Ping" data-moreinfo="in ms"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="speedtest-download" data-view="Meter" data-title="Download" data-moreinfo="in Mbit/s" data-min="0" data-max="100"></div>
    </li>
    
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="speedtest-upload" data-view="Meter" data-title="Upload" data-moreinfo="in Mbit/s" data-min="0" data-max="12"></div>
    </li>
   
    <!--li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="icon-arrow-right" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li-->
  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
      <div data-id="uptimerobot" data-view="Uptimerobot" data-title="Uptime Robot"></div>
    </li>
  
    <!--li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage2" data-view="Changepage" data-icon="icon-arrow-left icon-large" data-title="Back" data-page="1" data-fasttransition="true"></div>
    </li-->

    <!--li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Dashpi" data-text="A shiny 7″ dashboard for the Raspberry Pi."></div>
    </li-->
    
    <!--li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="System Info" data-text="Raspberry Pi" data-moreinfo="1 Model A+"></div>
    </li-->

    <!--li data-row="2" data-col="1" data-sizex="5" data-sizey="1">
      <div data-view="Image" data-image="/pi_armed_with_docker.jpg" data-width="580" data-height="250" style="background-color: #000;"></div>
      <!--i class="icon-dashboard icon-background icon-large"></i-->
      <!--i class="icon-heart icon-background icon-large"></i-->
    </li-->
  </ul>
</div>